<div class="container-fluid">
	<div class="widgets">
		<app-dashboard-widget type="user"></app-dashboard-widget>
		<app-dashboard-widget type="order"></app-dashboard-widget>
		<app-dashboard-widget type="earning"></app-dashboard-widget>
		<app-dashboard-widget type="balance"></app-dashboard-widget>
	</div>

	<div class="my-3 table-container">
		<h2 class="title">Products</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<!-- <th>SKU</th> -->
					<th>Name</th>
					<!-- <th>Description</th> -->
					<th>Unit Price</th>
					<th>Active</th>
					<th>Units In Stock</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of products">
					<td>{{ product.id }}</td>
					<!-- <td>{{ product.sku }}</td> -->
					<td>{{ product.name }}</td>
					<!-- <td>{{ product.description }}</td> -->
					<td>{{ product.unitPrice }}</td>
					<td>{{ product.active }}</td>
					<td>{{ product.unitsInStock }}</td>
					<td width="7%">
						<a
							routerLink="update/{{ product.id }}"
							class="btn btn-secondary btn-sm"
							(click)="upDateProduct(product.id)"
						>
							Update</a
						>
					</td>
					<td width="7%">
						<a
							class="btn btn-danger btn-sm"
							(click)="deleteProduct(product.id)"
							>Delete</a
						>
					</td>
				</tr>
			</tbody>
		</table>
		<a routerLink="add-new">
			<button class="btn-new btn btn-primary my-2">Add New</button>
		</a>

		<div class="footer-pagination">
			<div class="row">
				<div class="col-md-4"></div>

				<div class="col-md-8 d-flex">
					<ngb-pagination
						[(page)]="pageNumber"
						[pageSize]="pageSize"
						[collectionSize]="totalElements"
						[maxSize]="5"
						[boundaryLinks]="true"
						(pageChange)="handleListProducts()"
					></ngb-pagination>

					<div class="px-4">
						<span class="mx-2">Page Size</span>
						<select (change)="updatePageSize($event)">
							<option selected="true">10</option>
							<option>20</option>
							<option>30</option>
							<option>50</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
