<div>
	<i class="fas fa-user-circle icon" (click)="toggleUserMenu()"> </i>

	<div class="login-box" [ngClass]="menuStatus ? 'active' : ''">
		<div *ngIf="isAuthenticated && userFullName" class="top">
			Signed in as <br />
			{{ userFullName }}
		</div>

		<div class="nav">
			<button
				*ngIf="!isAuthenticated"
				routerLink="/products/login"
				class="menu-login-btn mt-2"
				(click)="toggleUserMenu()"
			>
				Login
			</button>

			<button
				routerLink="/products/order-history"
				*ngIf="isAuthenticated"
				class="menu-login-btn mt-2"
				(click)="toggleUserMenu()"
			>
				Orders
			</button>

			<button
				routerLink="/products/members"
				*ngIf="isAuthenticated"
				class="menu-login-btn mt-2"
				(click)="toggleUserMenu()"
			>
				Members
			</button>

			<hr class="divider" />
			<button
				routerLink="/dashboard"
				class="menu-login-btn mt-2"
				*ngIf="isAuthenticated && isAdmin"
			>
				Dashboard
			</button>
			<hr class="divider" *ngIf="isAuthenticated && isAdmin" />
			<button
				*ngIf="isAuthenticated"
				(click)="logout()"
				class="menu-login-btn mt-2"
				(click)="toggleUserMenu()"
			>
				Logout
			</button>
		</div>
	</div>
</div>
