<div class="dash-navbar">
	<div class="wrapper">
		<div class="search">
			<input type="text" placeholder="Search..." />
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
		<div class="items">
			<div class="item">
				<i class="fa-solid fa-bell icon"></i>

				<div class="counter">1</div>
			</div>
			<div class="item">
				<i class="fa-solid fa-message icon"></i>

				<div class="counter">2</div>
			</div>
			<div class="item">
				<i class="fa-solid fa-list icon"></i>
			</div>
			<div class="item">
				<img
					src="https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
					alt=""
					class="avatar"
				/>
			</div>
		</div>
	</div>
</div>
