<div class="sidebar">
	<div class="top">
		<a routerLink="/products">
			<img src="assets/images/logo.png" alt="luv2shop" class="logo" />
		</a>
	</div>
	<hr />
	<div class="center">
		<ul>
			<p class="title">MAIN</p>
			<li routerLink="/dashboard">
				<i class="fa-solid fa-cubes icon"></i>
				<span>Dashboard</span>
			</li>
			<p class="title">LISTS</p>
			<a to="/users">
				<li>
					<i class="fa-solid fa-user icon"></i>
					<span>Users</span>
				</li>
			</a>
			<a to="/expense-tracker/temp">
				<li>
					<i class="fa-solid fa-shop icon"></i>
					<span>Products</span>
				</li>
			</a>
			<li>
				<i class="fa-solid fa-credit-card icon"></i>
				<span>Orders</span>
			</li>
			<li>
				<i class="fa-solid fa-truck icon"></i>
				<span>Delivery</span>
			</li>
			<p class="title">USEFUL</p>
			<li>
				<i class="fa-solid fa-chart-column icon"></i>
				<span>Stats</span>
			</li>
			<li>
				<i class="fa-solid fa-bell icon"></i>
				<span>Notifications</span>
			</li>
			<p class="title">SERVICE</p>
			<li>
				<i class="fa-solid fa-kit-medical icon"></i>
				<span>System Health</span>
			</li>
			<li>
				<i class="fa-solid fa-folder icon"></i>
				<span>Logs</span>
			</li>
			<li>
				<i class="fa-solid fa-gear icon"></i>
				<span>Settings</span>
			</li>
			<p class="title">USER</p>
			<li>
				<i class="fa-solid fa-circle-user icon"></i>

				<span>Profile</span>
			</li>
			<li>
				<i class="fa-solid fa-arrow-right-from-bracket icon"></i>
				<span>Logout</span>
			</li>
		</ul>
	</div>
	<div class="bottom">
		<div class="colorOption"></div>
		<div class="colorOption"></div>
	</div>
</div>
