.header-img {
  background-image: url("https://images.unsplash.com/photo-1571115177098-24ec42ed204d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: 50% 76%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  border-radius: 25% 10%;
  -webkit-box-shadow: 0px 0px 16px 0px #000000;
  box-shadow: 0px 0px 16px 0px #000000;
}

.wallpaper {
  background-image: url("../../../assets/eliakin-imgs/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #888;
}

.wallpaper h3 {
  color: #444;
  font-size: 4.5rem;
  text-transform: capitalize;
}

.wallpaper p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.img-responsive {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 960px) {
  .img-responsive {
    width: 200px;
    height: 200px;
  }
}
