<section class="page-section pad">
	<div class="container">
		<div class="row mt-5 search-container">
			<app-search></app-search>
		</div>

		<div class="row py-3">
			<app-product-category-menu></app-product-category-menu>
		</div>

		<div class="row d-flex justify-content-center position-relative">
			<div *ngFor="let product of products" class="col-md-2 product-box">
				<a routerLink="/products/{{ product.id }}" class="img-btn">
					<img src="{{ product.imageUrl }}" class="img-responsive" />
				</a>
				<div class="img-box"></div>

				<a routerLink="/products/{{ product.id }}">
					<h3 class="pd-title">{{ product.name }}</h3>
				</a>

				<div class="price">
					{{ product.unitPrice | currency: "USD" }}
				</div>
				<button
					(click)="addToCart(product)"
					class="btn btn-primary btn-sm mt-2 pd-btn"
				>
					Add to cart
				</button>
			</div>
		</div>

		<div
			*ngIf="products?.length == 0"
			class="alert alert-warning col-md-12"
			role="alert"
		>
			No products found.
		</div>

		<div class="footer-pagination mt-5">
			<ngb-pagination
				[(page)]="pageNumber"
				[pageSize]="pageSize"
				[collectionSize]="totalElements"
				[maxSize]="5"
				[boundaryLinks]="true"
				(pageChange)="listProducts()"
			></ngb-pagination>

			<div class="page-size">
				<span class="mr-2">Page Size</span>
				<select (change)="updatePageSize($event)">
					<option>2</option>
					<option selected="true">5</option>
					<option>10</option>
					<option>20</option>
					<option>50</option>
				</select>
			</div>
		</div>
	</div>
</section>
