.pad {
	padding-top: 80px;
}

.product {
	position: relative;
}

.product .produt-info {
	position: relative;
}

.product-box {
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.product-box .img-btn {
	position: absolute;
	width: 220px;
	height: 220px;
}

.img-responsive {
	position: absolute;
	width: 220px;
	height: 220px;
	/* margin-left: 10px;
	margin-right: 10px; */
	border-radius: 15px;
	z-index: -1;
}

.img-box {
	background: rgba(0, 0, 0, 0.3);
	width: 220px;
	height: 220px;
	border-radius: 15px;
}

.pd-title {
	position: absolute;
	width: 220px;
	bottom: 90px;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
}

.price {
	position: absolute;
	top: -10px;
	right: 25px;
	font-size: 1.4rem;
	color: #fff;
}

.pd-btn {
	position: absolute;
	bottom: 40px;
	left: 25px;
}

.footer-pagination {
	display: flex;
	justify-content: flex-end;
	padding: 15px 0;
}

.footer-pagination .page-size {
	margin-left: 25px;
}

.footer-pagination .page-size span {
	margin-right: 10px;
}

.search-container {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
