<section class="page-section clearfix pt-5">
	<div class="container">
		<div class="intro">
			<img
				class="intro-img img-fluid mb-3 mb-lg-0 rounded"
				src="https://images.unsplash.com/photo-1579372786545-d24232daf58c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA2fHxwYXN0cnklMjBzaG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
				alt="..."
			/>
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-upper">Treats</span>
					<span class="section-heading-lower">Worth Trying</span>
				</h2>
				<p class="mb-3">
					Every treat is carefully made with locally sourced, hand
					picked ingredients. Once you try it, our treats will be a
					blissful addition to your must have sweet of the day - we
					guarantee it!
				</p>
				<div class="intro-button mx-auto">
					<a class="btn btn-primary btn-xl" href="#!">Shop Today!</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner bg-faded text-center rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">Our Promise</span>
						<span class="section-heading-lower">To You</span>
					</h2>
					<p class="mb-0">
						When you walk into our shop to start your day, we are
						dedicated to providing you with friendly service, a
						welcoming atmosphere, and above all else, excellent
						products made with the highest quality ingredients. If
						you are not satisfied, please let us know and we will do
						whatever we can to make things right!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
