<section class="page-section about-heading pt-5">
	<div class="container">
		<img
			class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
			src="https://images.unsplash.com/photo-1546904442-d07fd05f2f9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
			alt="..."
		/>
		<div class="about-heading-content">
			<div class="row">
				<div class="col-xl-9 col-lg-10 mx-auto">
					<div class="bg-faded rounded p-5">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper"
								>Creative Design, Unbelievable Taste</span
							>
							<span class="section-heading-lower"
								>About Our Store</span
							>
						</h2>
						<p>
							Founded in 2022 by the HCL Group 4, our
							establishment has been serving up rich and tasty
							treats sourced from top chefs in various regions of
							South and Central America. We are dedicated to
							travelling the world, finding the best ingredient,
							and bringing back to you here in our store.
						</p>
						<p class="mb-0">
							We guarantee that you will fall in
							<em>lust</em>
							with our delicious pastry the moment you walk
							inside. Join us for your sweet snack of the day, an
							outing with friends, or simply just to enjoy some
							alone time.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
